/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


/*
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.fade:not(.show) {
    opacity: 0;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}

.fade {
    transition: opacity .15s linear;
}

.modal.show .modal-dialog {
    -webkit-transform: none;
    transform: none;
}
.modal.fade .modal-dialog {
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
    -webkit-transform: translate(0,-50px);
    transform: translate(0,-50px);
}
@media only screen and (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 1.75rem auto;
    }
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none;
}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}

.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
}

.modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
}
.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button {
    border-radius: 0;
}


.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}

.modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: .75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px);
}


.modal.modal--active {
    background-color: honeydew;
    border: 1px solid #888;
    box-shadow: 2px 2px 1px #666;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    left:0;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9000;
}

@media screen and (min-width: 561px) {
    .modal.modal--active {
        background-color: honeydew;
        border: 1px solid #888;
        bottom: 25%;
        box-shadow: 2px 2px 1px #666;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        height: 50%;
        left:25%;
        padding: 1rem 2rem;
        position: fixed;
        top: 25%;
        width: 50%;
        z-index: 9000;
    }
}
/* 
.modal {
    display: none;
    opacity: 0;
}

.modal__closeButton {
    background-color: honeydew;
    border: none;
    font-size: 2rem;
    flex:100%;
    min-height: 2.5rem;
    margin-left: 95%;
    min-width: 2.2rem;
}
.modal__header{
    flex:100%;
    outline:none;
}

.modal__main{  
    flex:100%;
    min-height: 65%;
    outline:none;
    overflow-y: auto;
    text-overflow: ellipsis;
}

.modal__footer {
    display: flex;
    outline:none;
    padding: 1rem 0;
}

.modal__footer div {
    box-sizing: border-box;
    flex: 80%;
    outline:none;
}

.footer__yesButton{
    background-color: #00BB00;
    color: #fff;
    flex: 10%;
    font-size: 2rem;
    margin-right: 0.5rem;
}

.footer__yesButton:focus{
    background-color: #FFF;
    color: #00BB00;
    flex: 10%;
    font-size: 2rem;
    margin-right: 0.5rem;
}

.footer__noButton{
    background-color: #EE0000;
    color: #fff;
    flex: 10%;
    font-size: 2rem;
}

.footer__noButton:focus{
    background-color: #FFF;
    color: #EE0000;
    flex: 10%;
    font-size: 2rem;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 8000;
    background-color: rgba(0, 0, 0, 0.7);
  } */