@font-face {
  font-family: Catamaran;
  src: url(../fonts/Catamaran-Thin.ttf);
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: Muli;
  src: url(../fonts/Mulish-Light.ttf);
}

html {
	scroll-behavior: smooth;
}

body {
  background-image: 
    url("../img/bg-pattern.png"), 
    linear-gradient(to right, #DA2431, #7A4397);
  min-width: 400px; 
}

h1,h2,h3,h4,h5,h6, .navbar {
  font-family: Catamaran, Helvetica, Arial, sans-serif;
}

.navbar-nav .nav-link, .startButton {
  font-family: Lato, Helvetica, Arial, sans-serif;
}

p, footer {
  font-family: Muli, Helvetica, Arial, sans-serif;
}

.navbar-dark .navbar-brand.active {
  color:#FDCC53
}

.navbar-light .navbar-brand.active {
  color:#FDCC53
}

.navbar-dark .navbar-brand:hover {
  color: #fff;
}

.navbar-light .navbar-brand:hover {
  color: #fff;
}

.navbar.scroll .navbar-brand:hover {
  color: #2F2F2F;
}

.sticky-top.scroll {
  background-color: #fff;
}

.navbar.scroll {
  color: #2F2F2F;
  background-color: #fff;
}

.navbar.scroll .navbar-nav .nav-link {
  color: #2F2F2F;
}

.navbar.scroll .navbar-nav .nav-link.active {
  color:#FDCC53;
}

.navbar-toggler-icon {
  background-size:80%;
  background-position: top;
}

.navbar.scroll .navbar-toggler {
  border: 2px solid #E5E5E5;
  border-radius: 8px;
  background-color:rgba(255, 255, 255, 0);
  color: #222;
}

.navbar-nav .nav-link.active {
  color:#FDCC53;
}

.navbar-nav .nav-link:hover {
  color:#fff;
}

.demoScreen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topPhone {
  width: 100%;
}

.demoTop {
  width: 78%;
}

.demoFeature {
  top: 49%;
  width: 62%;
}

.download .jumbotron {
  background-color: #FDCB4E;
}

.start .jumbotron {

  min-height:616px;
  background:url("../img/bg-cta.jpg") rgba(0, 0, 0, 0.6);
  background-size: cover;
  background-blend-mode: multiply;
  background-position: center;
  overflow: hidden;
}

.start .jumbotron h2 {
  font-size: 2.9rem;
}

.startButton {
  background-color: rgba(255,255,255,0);
  border:2px solid transparent;
  border-color: #fff;
  border-radius: 40px;
  color: #fff;
  font-size: 0.65rem;
  font-stretch: ultra-expanded;
  padding: 0.7rem 3.1rem;
  transition: 0.3s;
}

.startButton:hover {
  background-color: #fdcc52;
  border-color:  #fdcc52;
}

.startButton.now {
  font-size: 0.7rem;
  padding: 0.7rem 0;
}

.card-title {
  font-size: 4em;
}

.contact .jumbotron {
  background-color: #FEC947;
}

.contact .jumbotron h1 {
  font-size: 2.8rem;
}

.fab {
  border-radius: 100%;
  color: #fff;
  display: inline-block;
  opacity: 90%;
}

.fa-twitter {
  background-color: rgba(29, 161, 243, 0.9);
  padding: 1.2rem;
}

.fa-twitter:hover {
  background-color: rgba(29, 161, 243, 1);
}

.fa-facebook-f {
  background-color: rgb(59, 89, 153, 0.9);
  padding: 1.2rem 1.6rem;
}

.fa-facebook-f:hover {
  background-color: rgb(59, 89, 153, 1);
}

.fa-google-plus-g {
  background-color:rgb(221, 76, 57, 0.9);
  padding: 1.2rem 1rem;
}

.fa-google-plus-g:hover {
  background-color:rgb(221, 76, 57, 1);
}

footer {
  background-color:  #222;
  color: #626262;
  font-size: 0.7rem;
}

.footer-link {
  color:#626262;
}

.footer-link:hover {
  color:  #fdcc52;
}

@media screen and (min-width: 769px) {
  h1 {
    font-size: 4rem;
  }

  .top h2 {
    font-size: 2.8rem;
  }
  .features h1 {
    font-size: 3rem;
  }

  .features .card-body .card-subtitle {
    font-size: 1.6rem;
  }
  .start .jumbotron {

    min-height:680px;
  }

  .start .jumbotron h2 {
    font-size: 4.3rem;
  }

  .demoScreen {
    left: 50%;
    position: absolute;
    top: 49%;
    transform: translate(-50%, -50%);
  }

  .topPhone {
    width: 70%;
  }

  .demoTop {
    left: 41%;
    top: 51%;
    width: 54%;
  }

  .demoFeature {
    width:67%;
  }
}