.container > [class^=col] {
  box-sizing: border-box;
  padding: 10px;
  position: relative;
}
@media only screen and (min-width: 993px) {
  .container > [class^=col] {
    padding: 18px;
  }
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

@media only screen and (min-width: 993px) {
  .col-md-1 {
    width: 8.3333333333%;
  }
}

@media only screen and (min-width: 993px) {
  .col-md-2 {
    width: 16.6666666667%;
  }
}

@media only screen and (min-width: 993px) {
  .col-md-3 {
    width: 25%;
  }
}

@media only screen and (min-width: 993px) {
  .col-md-4 {
    width: 33.3333333333%;
  }
}

@media only screen and (min-width: 993px) {
  .col-md-5 {
    width: 41.6666666667%;
  }
}

@media only screen and (min-width: 993px) {
  .col-md-6 {
    width: 50%;
  }
}

@media only screen and (min-width: 993px) {
  .col-md-7 {
    width: 58.3333333333%;
  }
}

@media only screen and (min-width: 993px) {
  .col-md-8 {
    width: 66.6666666667%;
  }
}

@media only screen and (min-width: 993px) {
  .col-md-9 {
    width: 75%;
  }
}

@media only screen and (min-width: 993px) {
  .col-md-10 {
    width: 83.3333333333%;
  }
}

@media only screen and (min-width: 993px) {
  .col-md-11 {
    width: 91.6666666667%;
  }
}

@media only screen and (min-width: 993px) {
  .col-md-12 {
    width: 100%;
  }
}

.container {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
  margin: 0 auto;
  padding: 5px;
  position: relative;
}
@media only screen and (min-width: 993px) {
  .container {
    padding: 9px;
  }
}

@font-face {
  font-family: Catamaran;
  src: url("../fonts/Catamaran-Thin.ttf");
}
@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: Muli;
  src: url("../fonts/Mulish-Light.ttf");
}
header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 5000;
}

.nav.nav--main {
  background: transparent;
  font-family: Lato, Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
}
.nav.nav--main .nav__container {
  align-items: flex-start;
  display: flex;
  width: 100%;
}
.nav.nav--main .nav__brand {
  margin-right: auto;
  text-decoration: none;
  align-self: center;
}
.nav.nav--main .nav__brand:hover {
  color: #fff;
}
.nav.nav--main .nav__brand.active {
  color: #fdcc52;
}
.nav.nav--main .nav__list {
  display: none;
  flex-direction: column;
  list-style: none;
  margin: 0 0;
  padding: 0;
  width: 100%;
}
@media only screen and (min-width: 993px) {
  .nav.nav--main .nav__list {
    display: flex;
    flex-direction: row;
    width: auto;
  }
}
.nav.nav--main .nav__item {
  text-align: left;
}
.nav.nav--main .nav__link {
  color: #2f2f2f;
  display: block;
  font-size: 1rem;
  line-height: 1rem;
  padding: 1rem;
  text-decoration: none;
}
.nav.nav--main .nav__link:hover {
  color: #fff;
}
.nav.nav--main .nav__link.active {
  color: #fdcc52;
}
.nav.nav--main .nav__hamburger-checkbox {
  display: none;
}
.nav.nav--main .nav__hamburger-checkbox:checked + .nav__list {
  display: flex;
}
.nav.nav--main .nav__hamburger-label {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  height: 1.5rem;
  padding: 0.75rem;
  width: 1.5rem;
}
@media only screen and (min-width: 993px) {
  .nav.nav--main .nav__hamburger-label {
    display: none;
  }
}
.nav.nav--main .nav__hamburger-line {
  background-color: #2f2f2f;
  display: block;
  height: 2px;
  width: 1.5rem;
}
.nav.nav--main.scroll {
  color: #2f2f2f;
  background-color: #fff;
}
.nav.nav--main.scroll .nav__link:hover:hover {
  color: #a8a3a3;
}

footer {
  font-family: Muli, Helvetica, Arial, sans-serif;
  background-color: #222;
  color: #626262;
  font-size: 0.7rem;
  padding: 0.9rem 0;
  text-align: center;
}
footer .container {
  padding-top: 0;
}
footer .container > [class^=col] {
  margin-bottom: 0.25rem;
  padding: 0;
}
footer .footer-info {
  margin-bottom: 0;
  padding-bottom: 0;
}
footer .footer-link {
  color: #626262;
  margin-top: 1rem;
  padding: 0 0.25rem 0 0.25rem;
  text-decoration: none;
}
footer .footer-link:hover {
  color: #fdcc52;
}

/*# sourceMappingURL=style-generated.css.map */
