html {
  scroll-behavior: smooth;
}

body {
  background-image: url("../img/bg-pattern.png"), linear-gradient(to right, #da2431, #7a4397);
  margin: 0;
  min-width: 400px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Catamaran, Helvetica, Arial, sans-serif;
}

p {
  font-family: Muli, Helvetica, Arial, sans-serif;
}

.container > [class^=col] {
  box-sizing: border-box;
  padding: 10px;
  position: relative;
}
@media only screen and (min-width: 993px) {
  .container > [class^=col] {
    padding: 18px;
  }
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

@media only screen and (min-width: 993px) {
  .col-md-1 {
    width: 8.3333333333%;
  }
}

@media only screen and (min-width: 993px) {
  .col-md-2 {
    width: 16.6666666667%;
  }
}

@media only screen and (min-width: 993px) {
  .col-md-3 {
    width: 25%;
  }
}

@media only screen and (min-width: 993px) {
  .col-md-4 {
    width: 33.3333333333%;
  }
}

@media only screen and (min-width: 993px) {
  .col-md-5 {
    width: 41.6666666667%;
  }
}

@media only screen and (min-width: 993px) {
  .col-md-6 {
    width: 50%;
  }
}

@media only screen and (min-width: 993px) {
  .col-md-7 {
    width: 58.3333333333%;
  }
}

@media only screen and (min-width: 993px) {
  .col-md-8 {
    width: 66.6666666667%;
  }
}

@media only screen and (min-width: 993px) {
  .col-md-9 {
    width: 75%;
  }
}

@media only screen and (min-width: 993px) {
  .col-md-10 {
    width: 83.3333333333%;
  }
}

@media only screen and (min-width: 993px) {
  .col-md-11 {
    width: 91.6666666667%;
  }
}

@media only screen and (min-width: 993px) {
  .col-md-12 {
    width: 100%;
  }
}

.container {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
  margin: 0 auto;
  padding: 5px;
  position: relative;
  max-width: 1280px;
}
@media only screen and (min-width: 993px) {
  .container {
    padding: 9px;
  }
}

@font-face {
  font-family: Catamaran;
  src: url("../fonts/Catamaran-Thin.ttf");
}
@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: Muli;
  src: url("../fonts/Mulish-Light.ttf");
}
header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 5000;
}

.nav.nav--main {
  background: transparent;
  font-family: Catamaran, Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
}
.nav.nav--main .nav__container {
  align-items: flex-start;
  display: flex;
  width: 100%;
}
.nav.nav--main .nav__brand {
  margin-right: auto;
  text-decoration: none;
  align-self: center;
}
.nav.nav--main .nav__brand:hover {
  color: #fff;
}
.nav.nav--main .nav__brand.active {
  color: #fdcc52;
}
.nav.nav--main .nav__list {
  display: none;
  flex-direction: column;
  list-style: none;
  margin: 0 0;
  padding: 0;
  width: 100%;
}
@media only screen and (min-width: 993px) {
  .nav.nav--main .nav__list {
    display: flex;
    flex-direction: row;
    width: auto;
  }
}
.nav.nav--main .nav__item {
  text-align: left;
}
.nav.nav--main .nav__link {
  color: #2f2f2f;
  display: block;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1rem;
  padding: 1rem;
  text-decoration: none;
}
.nav.nav--main .nav__link:hover {
  color: #fff;
}
.nav.nav--main .nav__link.active {
  color: #fdcc52;
}
.nav.nav--main .nav__hamburger-checkbox {
  display: none;
}
.nav.nav--main .nav__hamburger-checkbox:checked + .nav__list {
  display: flex;
}
.nav.nav--main .nav__hamburger-label {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  height: 1.5rem;
  padding: 0.75rem;
  width: 1.5rem;
}
@media only screen and (min-width: 993px) {
  .nav.nav--main .nav__hamburger-label {
    display: none;
  }
}
.nav.nav--main .nav__hamburger-line {
  background-color: #2f2f2f;
  display: block;
  height: 2px;
  width: 1.5rem;
}
.nav.nav--main.scroll {
  color: #2f2f2f;
  background-color: #fff;
}
.nav.nav--main.scroll .nav__link:hover:hover {
  color: #a8a3a3;
}

.top {
  padding: 2.4rem 3rem 0rem 3rem;
}
.top__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top__title {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2rem;
  margin-bottom: 0;
  padding-bottom: 0rem;
  text-align: center;
}
.top__button {
  align-self: center;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid transparent;
  border-color: #fff;
  border-radius: 40px;
  color: #fff;
  font-size: 0.65rem;
  font-stretch: ultra-expanded;
  margin-bottom: 4.3rem;
  margin-top: 2.6rem;
  padding: 0.9rem 3rem;
  transition: 0.3s;
}
.top__button:hover {
  background-color: #fdcc52;
  border-color: #fdcc52;
}
.top__phone {
  display: flex;
  justify-content: center;
  margin-bottom: 4.2rem;
}
.top__phone .phone {
  width: 66%;
}
.top__phone .screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 55%;
}
.top__list {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.top__list .card-title {
  font-size: 4rem;
  line-height: 4rem;
  margin-bottom: 0.5rem;
  padding-bottom: 0;
  text-align: center;
}
.top__list .card-subtitle {
  font-size: 1.6rem;
  margin-bottom: 0.3rem;
  margin-top: 0;
  text-align: center;
}
.top__list .card-text {
  margin-bottom: 3.8rem;
  margin-top: 0;
  line-height: 1.45rem;
  text-align: center;
}

.download {
  background-color: #fec63b;
  padding: 5.7rem 2.8rem 6.5rem 2.8rem;
  text-align: center;
}
.download .container > [class^=col] {
  margin-bottom: 0.25rem;
  padding: 0;
}
.download__title {
  font-size: 2.8rem;
  font-weight: 100;
  line-height: 3.4rem;
  margin-bottom: 0;
}
.download__subtitle {
  line-height: 1.4rem;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
}
.download__badge {
  margin-bottom: 1rem;
  width: 37%;
}

.features {
  background-color: #fff;
  padding: 2.6rem 2rem 4.7rem 2rem;
}
.features__title {
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 2.8rem;
  margin-bottom: 0;
  padding-bottom: 0rem;
  text-align: center;
}
.features__subtitle {
  margin-top: 0;
  padding: 0 0 5rem 0;
  text-align: center;
}
.features__phone {
  display: flex;
  justify-content: center;
  margin-bottom: 4.2rem;
}
.features__phone .phone {
  width: 60.5%;
}
.features__phone .screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}
.features__list {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.features__list .card-title {
  font-size: 4rem;
  line-height: 4rem;
  margin-bottom: 0.5rem;
  padding-bottom: 0;
  text-align: center;
}
.features__list .card-subtitle {
  font-size: 1.6rem;
  margin-bottom: 0.3rem;
  margin-top: 0;
  text-align: center;
}
.features__list .card-text {
  margin-bottom: 3.8rem;
  margin-top: 0;
  line-height: 1.45rem;
  text-align: center;
}

.start {
  min-height: 616px;
  background: url("../img/bg-cta.jpg") rgba(0, 0, 0, 0.6);
  background-size: cover;
  background-blend-mode: multiply;
  background-position: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.start .container {
  padding-top: 1.3rem;
}
.start .container [class^=col] {
  margin-bottom: 0.25rem;
  padding: 0 0 0 3rem;
}
.start h2 {
  color: #fff;
  font-size: 2.9rem;
  font-weight: 100;
  line-height: 3.2rem;
  margin: 0;
  padding: 0;
}
.start .startButton {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid transparent;
  border-color: #fff;
  border-radius: 40px;
  color: #fff;
  font-size: 0.65rem;
  font-stretch: ultra-expanded;
  margin-top: 1rem;
  padding: 0.9rem 3rem;
  transition: 0.3s;
}
.start .startButton:hover {
  background-color: #fdcc52;
  border-color: #fdcc52;
}

.contact .container {
  background-color: #fec947;
  padding: 2rem 0 5rem 0;
  text-align: center;
}
.contact .container .contact__title .title {
  font-size: 2.8rem;
  font-weight: 100;
  margin-bottom: 0;
}
.contact .container .contact__title .title .red-heart {
  color: #dd4C39;
}
.contact .container .contact__links {
  align-content: center;
  display: flex;
  flex-direction: column;
  padding-top: 0.1rem;
}
.contact .container .contact__links .fab {
  border-radius: 100%;
  color: #fff;
  display: inline-block;
  opacity: 90%;
}
.contact .container .contact__links .fa-twitter {
  background-color: rgba(29, 161, 243, 0.9);
  padding: 1.2rem;
}
.contact .container .contact__links .fa-twitter:hover {
  background-color: #1da1f3;
}
.contact .container .contact__links .fa-facebook-f {
  background-color: rgba(59, 89, 153, 0.9);
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 1.2rem 1.6rem;
}
.contact .container .contact__links .fa-facebook-f:hover {
  background-color: #3b5999;
}
.contact .container .contact__links .fa-google-plus-g {
  background-color: rgba(221, 76, 57, 0.9);
  padding: 1.2rem 1rem;
}
.contact .container .contact__links .fa-google-plus-g:hover {
  background-color: #dd4c39;
}

footer {
  font-family: Muli, Helvetica, Arial, sans-serif;
  background-color: #222;
  color: #626262;
  font-size: 0.7rem;
  padding: 0.9rem 0;
  text-align: center;
}
footer .container {
  padding-top: 0;
}
footer .container > [class^=col] {
  margin-bottom: 0.25rem;
  padding: 0;
}
footer .footer-info {
  margin-bottom: 0;
  padding-bottom: 0;
}
footer .footer-link {
  color: #626262;
  margin-top: 1rem;
  padding: 0 0.25rem 0 0.25rem;
  text-decoration: none;
}
footer .footer-link:hover {
  color: #fdcc52;
}

.modal {
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  padding-top: 100px;
  top: 0;
  width: 100%;
  z-index: 1;
}

.modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
  margin: auto;
  padding: 20px;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

/*# sourceMappingURL=style-generated.css.map */
