$colors: (
  menu: (
    active-item: #fdcc52,
    background-scroll: #fff,
    text: #2f2f2f,
    text-hover: #fff,
    text-scroll:#a8a3a3
  ),
  footer: (
    background: #222,
    text: #626262,
    link-hover: #fdcc52
  )
);