$config: (
  nav: (

  ),
  grid: (
    size:12,
    desktop-breakpoint: 993px,
  ),
  container: (
    classname: container,
    maxWidth: 1280px,
    padding: (
      default: 5px,
      desktop: 9px
    )
  ),
  column: (
    classname: col,
    desktop-postfix: md,
    padding: (
      default: 10px,
      desktop: 18px
    )
  )
);