@mixin download-section {

  .download {
    background-color: get-value("download_background", $data: $colors);;
    padding: 5.7rem 2.8rem 6.5rem 2.8rem;
    text-align: center;

    @include desktop-view {
      padding: 4.5rem 2.8rem 6.3rem 2.8rem;
    }

    .container > [class^=col] {
      margin-bottom: 0.25rem;
      padding: 0;

      @include desktop-view {
        &.google {
          padding-right: 0.1rem;
          text-align: right;
        }

        &.apple {
          text-align: left;
          padding-left: 0.1rem;
        }
      }
    }

    &__title {
      font-size: 2.8rem;
      font-weight: 100;
      line-height: 3.4rem;
      margin-bottom: 0;

      @include desktop-view {
        font-size: 4rem;
        line-height: 4.7rem;
      }
    }

    &__subtitle {
      line-height: 1.4rem;
      margin-top: 0.2rem;
      margin-bottom: 1rem;
    }

    &__badge {
      margin-bottom: 1rem;
      width: 37%;

      @include desktop-view {
        width: 28%;
      }
    }
  }
}