@mixin generate-column-default {
  //.container > [class^=column]
  .#{get-value(container_classname)} > [class^=#{get-value(column_classname)}] {
    box-sizing: border-box;
    padding: get-value(column_padding_default);
    position: relative;

    @include desktop-view {
      padding: get-value(column_padding_desktop);
    }
  }
}