@mixin set-column-width ($type, $column-count) {
  $width: get-column-width($column-count);
  $column-type-number: convert-column-type-to-number($type);

  @if $column-type-number == 1 {
    width: $width;
  }

  @else if $column-type-number == 2 {
    @include mobile-up {
      width: $width;
    }
  }

  @else if $column-type-number == 3 {
    @include tablet-up {
      width: $width;
    }
  }

  @else if $column-type-number == 4 {
    @include desktop-up {
      width: $width;
    }
  }
}